.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  margin: 20px 7px;
  flex-wrap: wrap;
}

.containerAvatar {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  padding: 1rem 0;
}

.containerImageAvatar {

}

.avatar {
  width: 2.6rem;
  height: 2.5rem;
  border-radius: 50%;
}

.nickname {
  font-size: 0.5rem;
}


